<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>CodeCircle</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="icon" type="image/x-icon" href="logo/codecircle_logo.png">
</head>

<body>
    <div class="container-left">
        <div class="logo">
            <img id="logo" src="../static/logo/code_logo.png" alt="Code Circle">
        </div>
        <div class="centered-container">
            <div id="paragraph">
                <i>Elevate your coding prowess and collaborate with a vibrant community of developers.</i>
            </div>
    </div>
    <div class="container">
        <h1>Create an Account</h1>
        <form method="POST">
            <div class="form-group">
                <label for="email">Email (Gmail)</label>
                <input type="email" id="email" name="email" placeholder="Enter your Email">
            </div>
                <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your Password">
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Already have an account? <a href="/register">Register</a></p>
    </div>
    </div>
</body>
</html>